<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/addPost.css">
    
</head>
<body >
    <div th:if="${session.usuarioLogado}">
        <div  th:replace="fragmentos/index :: headerLogado"></div>
    </div>
    <div th:if="!${session.usuarioLogado}">
        <div  th:replace="fragmentos/index :: Header-1"></div>
    </div>
    
    <main class="mx-auto my-3">
        
        <div class="container mt-3">
            <h2 class="d-flex justify-content-center mt-3">Adicionar Anúncio</h2>
            <form th:action="@{/usuario/editarPost/{id}(id=${session.usuarioLogado.id})}" method="POST" th:object="${post}" class="mt-5">
                <input type="text" hidden th:field="*{id}">
                <div class="row">
                    <div class="frame col-4">
                        <div class="center">
                            <div class="title">
                                <h1>Drop file to upload</h1>
                            </div>
                    
                            <div class="dropzone">
                                <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                                <input type="file" class="upload-input" />
                            </div>
                    
                            <button type="button" class="btn" name="uploadbutton">Upload file</button>
                    
                        </div>
                    </div>
                    <div class="ml-5 col">
                        <div class="row">
                            <div class="col">
                                <label for="email">Descrição (opcional)</label>
                                <textarea class="form-control" type="text" name="email" id="" cols="10" rows="6" th:field="*{descricao}"></textarea>
                            </div>
                            <div class="col">
                                <div class="alert alert-danger mt-3" th:if="${#fields.hasErrors('modelo')}">
                                    <label for="modelo" th:errors= *{modelo}></label>
                                </div>
                                <div class="mt-3 row">
                                    <label for="email">Modelo (obrigatório)</label>
                                    <input class="form-control" type="text" name="modelo" placeholder="" th:field="*{modelo}">
                                </div>

                                <div class="alert alert-danger mt-3" th:if="${#fields.hasErrors('preco')}">
                                    <label for="preco" th:errors= *{preco}></label>
                                </div>
                                <div class="mt-3 row">
                                    <label for="preco">Preço diária (obrigatório)</label>
                                    <input class="form-control" type="number" max="500" min="50" name="preco" placeholder="" th:field="*{preco}">
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <label for="localizacao">Localização:</label>
                            <select th:fragment="Localizacao" class="form-control" name="localizacao" id="localizacao" >
                                <option th:each="localizacao : ${T(com.web.lokacar.enums.Localizacao).values()}" th:value="${localizacao}" th:text="${localizacao.getCapital()} + ' - ' +${localizacao.getSigla()}" th:selected="${localizacao.getSigla == post.localizacao.getSigla}"></option>
                            </select>
                        </div>
                        <div class="">
                            <label for="tipo">Tipo:</label>
                            <select th:fragment="Tipo" class="form-control" name="tipo" id="tipo" >
                                <option th:each="tipo : ${T(com.web.lokacar.enums.Tipo).values()}" th:value="${tipo}" th:text="${tipo}" th:selected="${tipo == post.tipo}"></option>
                            </select>
                        </div>
                        
                    
                        
                    </div>
                </div>
                <button type="submit" class="btn btn-red w-50 mt-5 col-6 offset-3">ALTERAR</button>
            </form>            
        </div>
    </main>

    <div th:if="!${session.usuarioLogado}">
        <div  th:replace="fragmentos/index :: Erro"></div>
    </div>

    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>